body {
  font-family: sans-serif;
  background: #fefefe;
  background-image: url(builds/0a1ab687dbf0447c0619527fed7cecd3.jpg);
  background-size: cover; }
.button {
  background: white;
  color: black;
  font-style: italic;
  font-weight: bold; }
.header {
  font-size: 3rem; }
