/* Reset */
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/* Variables */
$primary-color: green;
$base-font-size: 62.5%;