<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>Hello, Vue.</title>
    <script src="../../node_modules/vue/dist/vue.min.js"></script>
    <style>
        .ml30 {
            margin-left: 30px;
        }
    </style>
</head>
<body>
    <div id="el">
        <a v-bind:href.literal="/a/b/c">v-bind:href.literal</a>
        <a href="Hello, {{* newTodo }}">:href.literal</a>
        <input v-model="newTodo" v-on:keyup.enter="addTodo"/>
        <span data-input="{{newTodo}}">{{newTodo | capitalize}}</span>
        <span class="ml30">Won't Changed: {{* newTodo }}</span>
        <span class="ml30">Support Html: {{{ newTodo }}}</span>
        <span class="ml30">Computed: {{{ aa }}}</span>
        <ul style="overflow: auto;">
            <li v-for="todo in todoList" style="float: left; margin-left: 30px">
                <span>{{ todo }}</span>
                <!--<button v-on:click="remove($index)">X</button>-->
                <button @click="remove($index)">X</button>
            </li>
        </ul>
        <table>
            <tr is="tr-comp" :parent-msg="newTodo"></tr>
        </table>
        <slot-comp>
            <p>This is some original content</p>
            <p>This is some more original content</p>
        </slot-comp>
        <v-for-comp
            v-for="todo of todoList"
            :item="todo"
            :index="$index">
        </v-for-comp>
    </div>
    <script src="vue.js"></script>
</body>
</html>