/* Mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/* Variables */
$font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, sans-serif;
$font-color: #666;
$bb-color: #ff647c;
$mobile-font-size: 3.5vmin;